/* .row-request .col-request Input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;   
}

.ant-form-item-control-input-content .ant-select .ant-select-selector {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none; border: none;
} */
/* .select-add-request .ant-select-selector {
    color: #2F85EF;
    border: none;
} */
.form-approver{
    margin: 10px;
    
}
.btn-add-approver{
    float: left;
    font-weight: 700;
    height: 100px;
    padding: 15px;
    text-align: center;
    font-family: "Segoe UI";
    list-style-type: disc;
}
.btn-add-approver > button{
    margin-top: 32px;
    padding: 12px 20px;
    background-color: #2F85EF;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 400;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
}

