/* .row-request .col-request Input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;   
}

.ant-form-item-control-input-content .ant-select .ant-select-selector {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none; border: none;
} */
/* .select-add-request .ant-select-selector {
    color: #2F85EF;
    border: none;
} */
.form-approver{
    margin: 10px;
}
.btn-add-approver  button{
    margin-top: 32px;
    background-color: #2F85EF;
    color: #ffffff;
    border-radius: 10px;
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    padding: 15px 25px;
    font-size: 24px;
}
.btn-add-approver  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


