/* .row-request .col-request Input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;   
}

.ant-form-item-control-input-content .ant-select .ant-select-selector {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none; border: none;
} */
/* .select-add-request .ant-select-selector {
    color: #2F85EF;
    border: none;
} */
.form-approver{
    margin: 10px;
}

.ant-form-item-control-input-content input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;
    height: 53px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
  
}
.ant-select{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;
}