.row-request .col-request Input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}