.row-request .col-request Input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;   
}
.row-request .col-request Select{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;
}