.no-data .ant-select-selector .ant-select-selection-item {
    color: red;
    font-weight: 200;
    font-size: medium;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .page-request{
        margin-left: 80px;
    }
}
.responsive-select-option  .ant-select-arrow{
    position: absolute;
    right: -1px;
}
.responsive-limit-width-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}