.info-user{
    background-color: '';
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box
}
.nav-bar-profile{
    margin-top:  15px;
    border-bottom: 2px solid #e1e1e1;
    margin-right:-25px;
    margin-left:-25px;
    background-color: #F5F6FA;
    align-items: center;
}
