@media screen and (max-width: 768px) {
    .page-request{
        margin-left: 80px;
    }
}
.page-request{
    background-color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.page-content{
    font-family: "Segoe UI";
    font-size: 14px;
    line-height: 1.42857143;
    width: 100%;
    height: calc(100vh - 156px);
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 125px;
    padding: 15px;
}
.title-request{
    color: #434343;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-weight: 700;
}
.form-approver{
    margin-top: 50px;
    margin-right: 10px;
}
.add-approvers{
    margin-left: 15px;
}
.form-approver > h6{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #130e0e;
    margin: 0 0 10px;
    font-family: "Segoe UI";
}
.col-request{
    margin-bottom: 15px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-request label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
    font-family: "Segoe UI";
}
.attention-request{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Segoe UI";
}
.attention-request  p{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #130e0e;
  }
.col-request .ant-row .ant-form-item-label{
    padding: 0;
}
.col-request .ant-form-item-required{
    font-weight: 700;
}
.col-request .ant-select-arrow .ant-select-suffix{
    color: #2F85EF;
}
.col-request .ant-form-item-control-input-content input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    color: #2F85EF;
    box-shadow: none;
    height: 53px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;  
}
.col-request .ant-form-item-control-input-content .ant-select .ant-select-selector{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    width: 100%;
    float: left;
    height: 53px;
    background-color: #fff;
    padding: 6px 12px;  
    white-space: nowrap;
    color: #2F85EF;
} 
.col-request .ant-select .ant-select-selector .ant-select-selection-item{
    display: flex;
    align-items: center;
}
.col-request .ant-picker{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2F85EF;
    width: 100%;
    float: left;
    height: 53px;
    background-color: #fff;
    padding: 6px 12px;  
    white-space: nowrap;
}
.col-request .anticon-calendar{
    color: #2F85EF;
}
.col-request .ant-picker .ant-picker-input input {
    color: #2F85EF;
}
.cursor-notallow-applicant{
    cursor: not-allowed;
}
.col-request .ant-select-selection-search{
    line-height: 53px;
}
.add-request-datepicker {
    width: 100%;
}

.no-data .ant-select-selector .ant-select-selection-item {
    color: red;
    font-weight: 200;
    font-size: medium;
    justify-content: center;
}
/* .responsive-select-option .ant-select-selector::after{
   position: absolute;
   right: -1px;
} */
.responsive-select-option  .ant-select-arrow{
    position: absolute;
    right: -1px;
}

.add-request-width-formitem .ant-picker-input {
    width: 100%;
}
.add-request-width-formitem .ant-picker-input input{   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .responsive-select-option .ant-select-selector{
    width: 100%;
}
.responsive-select-option .ant-select-selector .ant-select-selection-item{   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
.responsive-limit-width-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* tooltip responsive */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
