.request {
  display: flex;
  justify-content: center;
  text-align: center;
}

#navbar {
  background-color: #f5f6fa;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  position: fixed;
  z-index: 2;
  width: 80%;
  margin-top: 18px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 0 5px;
}

.content .ant-table {
  margin-top: 95px;
  width: 101%;
}

.content .ant-table-thead .ant-table-cell {
  background-color: #ebeef0;
  color: #a3a6b4;
}

.content .ant-table-tbody > tr:hover {
  background-color: #f4f0f0;
  cursor: pointer;
}

.content {
  position: relative;
}

.ant-pagination {
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 30px;
  width: 100%;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #337ab7;
  color: white;
}

.filter-form {
  padding: 16px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.filter-form .ant-form-item {
  margin-bottom: 8px;
}

.filter-form .ant-form-item-control-input {
  display: flex;
}

.filter-form .ant-form-item-control-input .ant-form-item-children-icon {
  margin-left: auto;
}
