*{
    box-sizing: border-box;
  }
  .required {
    color: red;
  }
  .page-detail-request{
    min-height: calc(100vh - 83px);
    transition: all 0.3s;
    background-color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
  }

  .info-detail-request{
    margin-top: 85px;
    margin-right: -20px;
    padding-right: 15px;
  }

  .info-basic-detail-request p{
    width: 100%;
    font-weight: 700;
  }

  .title-detail-request{
    color: #434343;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-weight: 700;
  }
  
  .content-detail-request{
    font-family: "Segoe UI";
    font-size: 14px;
    line-height: 1.42857143;
  }

  .col-detail-request{
    margin-bottom: 15px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col-detail-request label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
    font-family: "Segoe UI";
  }
  .attention-detail-request{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Segoe UI";
  }
  
  .attention-detail-request  p{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #130e0e;
  }
  .approver{
    margin-bottom: 15px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .list-approvers> p{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #130e0e;
    margin: 0 0 10px;
  }
  
  .approver > label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
  }