.responsive-select-option  .ant-select-arrow{
    position: absolute;
    right: -1px;
}
.responsive-send-approver .ant-row .ant-col .ant-form-item-required{
    height: fit-content;
}
.responsive-lable-approver {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}
.responsive-limit-width-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
