.card-content {
    min-width: 170px;
    max-width: 170px;
    height: 200px;
}

.card-content .type-content-title {
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}

.card-content .type-content-description{
    color: rgba(40,130,242,0.64);
    font-size: 12px;
}

.card-content:hover{
    cursor: pointer;
    background-color: #4ba747;
    transform: translateY(-16px);
    transition: transform 0.6s ease;
}

.card-content:hover p{
    color: #fff;
}

.card-content:hover svg{
    color: #fff;
}

.card-content svg{
    font-size: 40px;
    color: #2882f2;
}

.border-bottom{
    border-bottom: solid #ccc 1px;
    padding-top: 16px;
}
