.ant-layout {
        & li {
                padding-left: 5px;
        }

        & .ant-layout-sider {
                // position: sticky;
                // left: 0;
                // margin-top: 50px;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 999; 


        }

        & .ant-layout-sider-children {}

        & .ant-layout-sider-trigger {
                margin-bottom: 29px;
        }
}