/* .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  .menu {
    height: 100%; /* hoặc chiều cao tùy chọn */
    overflow-y: auto; /* hiển thị thanh cuộn khi nội dung vượt quá chiều cao */
  } */