.mcs-footer {
  background-color: #167c82;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px;
}

.mcs-footer .footer-left {
  float: left;
}

.mcs-footer .footer-right {
  float: right;
}

.mcs-footer .footer-right span {
  padding-left: 10px;
  padding-right: 10px;
}

.ant-dropdown-menu-item:hover {
  background-color: #167c82 !important;
  color: white !important;
}

.selected {
  background-color: #bce2e4;
}

@media only screen and (max-width: 767px) {
  .mcs-footer {
    display: flex;
    justify-content: center;
  }

  .mcs-footer .footer-left {
    text-align: center;
    float: none;
  }

  .mcs-footer .footer-right {
    float: none;
  }
}